AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond $1 !^v1
    RewriteCond $1 !^v2
    RewriteCond $1 !^api-spec
    RewriteRule (.*) http://phalcon.insurant.ms/v1/ [R=301,L]
</IfModule>